.container {
    width: 40rem;
}
.card {
    border: none;
}

.btn {
    width: 10rem;
}

#matrix {
    width: 490px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    justify-content: center;
}

.box {
    width: 60px;
    height: 60px;
    border: solid 1px #ccc;
    box-sizing: border-box;
    background-color: rgb(227, 219, 219);
    display: flex;
    align-items: center;
    justify-content: center;
}

.divChild {
    height: 3rem;
    width: 3rem;
    margin-top: .1rem;
    margin-left: .1rem;
    border-radius: 50%;
    border: 2px solid gray;
    background-color: white;
}

